<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset=UTF-8 />
    <title>CNB-Items</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>
<body class="white-bg">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="/images/Pencil_logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""/>
        Chalk And Boards
    </a>
    <div class="pull-right">
        <a href="/logout">logout</a>
    </div>
</nav>

<div class="container">
    <h3>list of items</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NAME</th>
            <th scope="col">TYPE</th>
            <th scope="col">SUB TYPE</th>
            <th scope="col">COST</th>
            <th scope="col">ATTRIBUTES</th>
            <th scope="col">IMAGES</th>
            <th scope="col">ACTIONS</th>
        </tr>
        </thead>
        <tbody id="item-list">

        </tbody>
    </table>
</div>

<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/items.js}"></script>
</body>
</html>