<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset=UTF-8 />
    <title>login</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
</head>
<body class="cnb-bg">
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="/images/Pencil_logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""/>
        Chalk And Boards
    </a>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-4 align-self-center white-bg">
            <form th:action="@{/login}" action="/login" method="POST">
                <div class="text-center">
                    <img class="img-pos" th:src="@{/images/Pencil_logo.svg}" width="60" height="60"/>
                </div>
                <div class="form-group">
                    <small th:if="${param.error}" id="emailHelp" class="form-text text-muted">User name or password is incorrect</small>
                    <input type="email" class="form-control" id="username" name="username" placeholder="Email"/>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
                </div>
                <button type="submit" id="submit" class="btn cnb-btn" style="margin-bottom:15px;">Submit</button>
                <br/>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>